<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      BeerParty
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let beer of beers" (click)="openModal(beer)">
      <ion-thumbnail item-start>
        <img src="{{ beer.photo }}">
      </ion-thumbnail>
      <h2>{{ beer.name }}</h2>
      <p>{{ beer.area }}</p>
      <div *ngIf="beer.idle.is">
        En cours...
      </div>
      <button ion-button clear item-end (click)="idle(beer, $event)">Idle</button>
    </ion-item>
  </ion-list>
</ion-content>
